<div class="container">
	<div class="row">
		<div class="12u">

			<!-- Contact -->
				<section class="contact">
					<header>
						<h3>Please contact us if you have any request or question.</h3>
					</header>
					<p>
						GOLF Principal Investigator : <br/>
						Patrick Boumier<br/> 
						<i>patrick.boumier@ias.u-psud.fr</i><br/>
						<br/>
						Web curator :  <br/>
						Patrick Boumier<br/> 
						<i>patrick.boumier@ias.u-psud.fr</i><br/>
						Frédéric Baudin<br/>
						<i>frederic.baudin@ias.u-psud.fr</i><br/>
						Shuo Li<br/>
						<i>shuo.li@ias.u-psud.fr</i><br/>

					</p>
					<!--<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
					</ul>-->
				</section>

			<!-- Copyright -->
				<div class="copyright">
					<ul class="menu">
						<li>&copy; IAS. All rights reserved.</li><li>Design: shye0000</li>
					</ul>
				</div>

		</div>

	</div>
</div>