<div class="inner">
	<header>
		<h1><a href="../../templates/index.html" id="logo">GOLF SoHO</a></h1>
	</header>
</div>
<!-- Nav -->
<nav id="nav">
	<ul>
		<li><a href="../../templates/index.html">Home</a></li>
		<li><a href="../../templates/instrument.html">Instrument</a></li>
		<li>
			<a href="#">Operation</a>
			<ul>
				<li><a href="../../templates/operation/ope_chrone.html">Operation chronology</a></li>
				<li><a href="../../templates/operation/ope_modes.html">Operation modes</a></li>
				<li><a href="../../templates/operation/dataloss.html">Data losses</a></li>
				<li><a href="#">Timing corrections chronology (coming soon)</a></li>
				<li><a href="../../templates/operation/detectorcorrection.html">Detector corrections chronology</a></li>
				<li><a href="../../templates/operation/telecommands.html">Telecommands chronology</a></li>
				<li><a href="../../templates/operation/sohoevents.html">GOLF and SoHO events</a></li>
			</ul>
		</li>
		<li><a href="../../templates/access.html">Access data</a></li>
		<li>
			<a href="#">Publications</a>
			<ul>
				<li><a href="../../templates/publications/GOLF_refereed_htm.htm">GOLF publications in refereed journals</a></li>
				<li><a href="../../templates/publications/GOLF_proceedings_htm.htm">GOLF publications at conferences</a></li>
				<li><a href="../../templates/publications/GOLF_thesis_htm.htm">GOLF related theses</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Results and Gallery</a>
			<ul>
				<li><a href="../../templates/resultsgallery/frequencytables.html">Frequency tables</a></li>
				<li><a href="../../templates/resultsgallery/spectra.html">GOLF spectra</a></li>
				<li><a href="../../templates/resultsgallery/hips.html">The "HIPS"</a></li>
				<li><a href="../../templates/resultsgallery/echellediagram.html">An echelle diagram</a></li>
				<li><a href="../../templates/resultsgallery/inversionres.html">Some inversion results</a></li>
				<li><a href="../../templates/resultsgallery/timefrequencydiagram.html">A time/frequency diagram</a></li>
				<li><a href="../../templates/resultsgallery/magneticfield.html">The global magnetic field measured by GOLF</a></li>
			</ul>
		</li>
	</ul>
</nav>